<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <h1>Employee Details</h1>
    {% for i in emp %}
    <h2>Emp-id={{i.eid}}</h2>
    <h2>Emp-name={{i.ename}}</h2>
    <h2>Emp-age={{i.eage}}</h2>
    <h2>Emp-exp={{i.eexp}}</h2>
    <h2>Emp-sal={{i.esal}}</h2>
    <h2>Emp-Dob={{i.edob}}</h2>
    <h2>Emp-place={{i.eplace}}</h2>
    <h2>Emp-ph={{i.eph}}</h2>
    <h2>Emp-email={{i.eemail}}</h2>
    <h2>_________________________</h2>
    {% endfor %}
    </center>
    <form ="" action="index.html" method="post">

    </form>

  </body>
</html>
