<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Template Application</title>
    <style>
      h1{
        color:red;
      }
      h2{
        color:blue;
      }
    </style>
  </head>
  <body bgcolor="yellow">
    <center>
      <h1>TEMPLATE APPLICATION</h1>
      <hr>
      <h2>Datetime={{datetime}}</h2>
      <h2>Name={{ename}}</h2>
      <h2>Experience={{eexp}}</h2>
      <h2>Salary={{esal}}</h2>
      <h2>Place={{eplace}}</h2>
      </center>



  </body>
</html>
