<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>
      {%block title_block%}
      {%endblock%}
    </title>
  </head>
  <body style="background:#5de6f0;color:black">
    <div style="width:70%; float:left; padding:0 0 0 30px; background-color:#5de6f0; height:100%" class="content">
      {%block content_block%}
      {%endblock%}

    </div>

    <div style="width:30%; float:right; padding:10px; background-color:#defa7a" class="sidebar">
      <h1>Girish's Blog</h1>
      <p>Here we see the python post</p>

    </div>

  </body>
</html>
